@model IEnumerable<Clothes_Shop.Models.Product>

@{
    ViewData["Title"] = "Produkty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="section-products">
    <div class="container">
        <div class="row justify-content-center text-center">
            <div class="col-md-8 col-lg-6">
                <div class="header">
                    <h3>Featured Product</h3>
                    <h2>Popular Products</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <!-- Single Product -->
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div id="product-1" class="single-product">
                        <div class="part-1" style="background: url('@Html.DisplayFor(modelItem => item.Picture)') no-repeat center; background-size: cover">
                            <ul>
                                <li><a asp-controller="BasketDetails" asp-action="AddToBasket" asp-route-id="@item.ProductId"><i class="fas fa-plus"></i></a></li>
                                <li><a asp-controller="OrderDetails" asp-action="FinalizeOrderDetails" asp-route-id="@item.ProductId"><i class="fas fa-shopping-cart"></i></a></li>
                            </ul>
                        </div>
                        <div class="part-2">
                            <h3 class="product-title">@Html.DisplayFor(modelItem => item.ProductName)</h3>
                            <h4 class="product-price">@Html.DisplayFor(modelItem => item.Price) zł</h4>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>


